

/*=============================================
=            Display            =
=============================================*/
@mixin flex($gap:0px)
{
  display: flex;
  gap: $gap;
}
  
@mixin flex-center($gap:0px) 
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap;
}
@mixin flex-around($gap:0px) 
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: $gap;
}
@mixin flex-between($gap:0px) 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $gap;
}
@mixin flex-column($gap:0px) 
{
  display: flex;
  flex-direction: column;
  gap: $gap;
}
@mixin flex-column-center($gap:0px) 
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $gap;
}
@mixin flex-column-around($gap:0px) 
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: $gap;
}
@mixin flex-column-between($gap:0px) 
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: $gap;
}
@mixin grid($columns,$rows,$gap)
{
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
  grid-column-gap: $gap;
  grid-row-gap: $gap;
}
@mixin btn--animation($opacity, $scale) /* transition */
{
  cursor: pointer;
  transition: all 300ms;
  box-shadow: 4px 4px 8px -2px #d0d0d0;
  &:hover {
    transform: scale($scale);
    opacity:$opacity;
    box-shadow: 4px 4px 8px -2px darken(#d0d0d0,20%);
  }
}